@using System.Web.Security


@{
    string language = "pt-BR";    
}

@Styles.Render("~/Content/themes/base/css")

<!-- pulled right: nav area -->
<div class="pull-right">
				
	<!-- collapse menu button -->
	<div id="hide-menu" class="btn-header pull-right">
		<span> <a href="javascript:void(0);" data-action="toggleMenu" title="Collapse Menu"><i class="fa fa-reorder"></i></a> </span>
	</div>
	<!-- end collapse menu -->
				
	<!-- #MOBILE -->
	<!-- Top menu profile link : this shows only when top menu is active -->
	<ul id="mobile-profile-img" class="header-dropdown-list hidden-xs padding-5">
		<li class="">
			<a href="#" class="dropdown-toggle no-margin userdropdown" data-toggle="dropdown"> 
				<img src="@Url.Content("~/images/logo1.png")" alt="John Doe" class="online" />  
			</a>
			<ul class="dropdown-menu pull-right">
				<li>
					<a href="javascript:void(0);" class="padding-10 padding-top-0 padding-bottom-0"><i class="fa fa-cog"></i> Setting</a>
				</li>
				<li class="divider"></li>
				<li>
					<a href="profile.html" class="padding-10 padding-top-0 padding-bottom-0"> <i class="fa fa-user"></i> <u>P</u>rofile</a>
				</li>
				<li class="divider"></li>
				<li>
					<a href="javascript:void(0);" class="padding-10 padding-top-0 padding-bottom-0" data-action="toggleShortcut"><i class="fa fa-arrow-down"></i> <u>S</u>hortcut</a>
				</li>
				<li class="divider"></li>
				<li>
					<a href="javascript:void(0);" class="padding-10 padding-top-0 padding-bottom-0" data-action="launchFullscreen"><i class="fa fa-arrows-alt"></i> Full <u>S</u>creen</a>
				</li>
				<li class="divider"></li>
				<li>
					<a href="login.html" class="padding-10 padding-top-5 padding-bottom-5" data-action="userLogout"><i class="fa fa-sign-out fa-lg"></i> <strong><u>L</u>ogout</strong></a>
				</li>
			</ul>
		</li>
	</ul>

	<!-- logout button -->
	<div id="logout" class="btn-header transparent pull-right">
		<span> <a href="@Url.Action("Logoff", "Home")" title="Sign Out" data-action="userLogout" data-logout-msg="teste"><i class="fa fa-sign-out"></i></a> </span>
	</div>
	<!-- end logout button -->

	<!-- search mobile button (this is hidden till mobile view port) -->
@*	<div id="search-mobile" class="btn-header transparent pull-right">
		<span> <a href="javascript:void(0)" title="Search"><i class="fa fa-search"></i></a> </span>
	</div>*@
	<!-- end search mobile button -->

	<!-- input: search field -->
@*	<form class="header-search pull-right">
		<input id="txtSystemResource" type="text" name="txtSystemResource" placeholder="@Resources.Resource.lbl_FindPages">
	</form>*@
	<!-- end input: search field -->

	<!-- fullscreen button -->
@*	<div id="fullscreen" class="btn-header transparent pull-right">
		<span> <a href="javascript:void(0);" data-action="launchFullscreen" title="Full Screen"><i class="fa fa-arrows-alt"></i></a> </span>
	</div>*@
	<!-- end fullscreen button -->

	@*<ul class="header-dropdown-list hidden-xs">
		<li>
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">
                @if(language == "pt")
                {
                    <img class="flag flag-br" alt=""> @Resources.Resource.lbl_Portuguese <i class="fa fa-angle-down"></i>
                }
                else
                {
                    <img class="flag flag-us" alt=""> @Resources.Resource.lbl_English <i class="fa fa-angle-down"></i>
                }
            </a>
			<ul class="dropdown-menu pull-right">
				<li @(language == "pt" ? "class=active" : "")>
					<a href="@Url.Action("ChangeLanguage", "Home")/?language=pt&urlAnterior=@Request.Url.ToString()"><img class="flag flag-br" alt=""/> @Resources.Resource.lbl_Portuguese</a>
				</li>
				<li @(language == "en-US" ? "class=active" : "")>
					<a href="@Url.Action("ChangeLanguage", "Home")/?language=en-US&urlAnterior=@Request.Url.ToString()"><img class="flag flag-us" alt=""/> @Resources.Resource.lbl_English</a>
				</li>
			</ul>
		</li>
	</ul>*@

</div>

<script>
    $(function () {
        $("#txtSystemResource").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '@Url.Action("SystemResourceAutoComplete", "Home")',
                    type: "GET",
                    dataType: "json",
                    data: { query: request.term },
                    term: extractLast(request.term),
                    success: function (data) {
                        if (data.length > 0) {
                            response($.map(data, function (item) {
                                //Retorno o valor para o campo de participante
                                return { label: item.Name, value: item.Url };
                            }))
                        } else {
                            $("#txtSystemResource").val("");
                        }
                    }
                })
            },
            minLength: 3, // Número mínimo de caracteres.
            autoFocus: true,
            select: function (event, ui) {
                $("#txtSystemResource").val(ui.item.label);

                window.location = ui.item.value;

                return false;
            }
        });
    });
</script>