@model ChurrasTrinca.Models.Churras


@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>



 <div class="container-fluid">
      <div class="row">

        <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
                        @using (Html.BeginForm()) {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        <fieldset>


                           <form>

                              <div class="form-group row">
                                @Html.LabelFor(model => model.Data, new { @class = "col-sm-2 col-form-label"})
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Data, new { @class = "form-control", @maxlength = 30})
                                    @Html.ValidationMessageFor(model => model.Data, "", new { @class = "text-danger" })
                                </div>
                              </div>

                              <div class="form-group row">
                                <label for="staticEmail" class="col-sm-2 col-form-label">@Html.LabelFor(model => model.porque, new { @class = "col-sm-2 col-form-label", @maxlength = 30})</label>
                                <div class="col-sm-6">
                                  @Html.TextBoxFor(model => model.porque, new { @class = "form-control", @maxlength = 30})
                                  @Html.ValidationMessageFor(model => model.porque)
                                </div>
                              </div>

                              <div class="form-group row">
                                <label for="staticEmail" class="col-sm-2 col-form-label">@Html.LabelFor(model => model.Descricao, new { @class = "col-sm-2 col-form-label", @maxlength = 30})</label>
                                <div class="col-sm-6">
                                  @Html.TextAreaFor(model => model.Descricao, new { @class = "form-control", style = "width: 206px; Height: 150px;"})
                                  @Html.ValidationMessageFor(model => model.Descricao)
                                </div>
                              </div>

                               <h4>Valor de contribuição sugerido:</h4>

                              <div class="form-group row">
                                <label for="staticEmail" class="col-sm-2 col-form-label">@Html.LabelFor(model => model.ValorComBebida, new { @class = "col-sm-2 col-form-label", @maxlength = 30})</label>
                                <div class="col-sm-6">
                                  @Html.TextBoxFor(model => model.ValorComBebida, new { @class = "form-control"})
                                  @Html.ValidationMessageFor(model => model.ValorComBebida)
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="staticEmail" class="col-sm-2 col-form-label">@Html.LabelFor(model => model.ValorSemBebida, new { @class = "col-sm-2 col-form-label", @maxlength = 30})</label>
                                <div class="col-sm-6">
                                  @Html.TextBoxFor(model => model.ValorSemBebida, new { @class = "form-control"})
                                  @Html.ValidationMessageFor(model => model.ValorSemBebida)
                                </div>
                              </div>

                           </form>
                            <p>
                                <input class="btn btn-primary" type="submit" value="Salvar">
                            </p>
                        </fieldset>
                    }

                    <div>
                        @Html.ActionLink("Voltar", "Churras")
                    </div>

        </main>
      </div>
    </div>